# Python
venv/
__pycache__/
*.py[cod]
.python-version
*.egg-info/

# Environment
.env
.env.local

# dbt
ecommerce_dbt/target/
ecommerce_dbt/logs/
ecommerce_dbt/dbt_packages/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Zip files
*.zip
